<div *ngIf="isFailed" class="card card-container">
  {{errorMessage}}
</div>

<div class="row d-flex justify-content-center">

  <div class="col-11 center cadrer" *ngFor="let activite of activitesLite | orderBy:'nom':false ">

    <div class="row" (click)="activite.open = !activite.open">
      <div class="col-10" id="header">
        <h4>{{activite.nom}} {{activite.horaire}}</h4>
      </div>

      <div class="col-2" id="icon">
        <fa-icon *ngIf="!activite.open" class="pointer green fa-2xl" [icon]="faSquareCaretLeft"
          container="body"></fa-icon>
        <fa-icon *ngIf="activite.open" class="pointer green fa-2xl" [icon]="faSquareCaretDown"
          container="body"></fa-icon>

      </div>
    </div>

    <div *ngIf="mobile && activite.open">

      <div class="cadrePermanent petite_taille row" *ngFor="let adherent of activite.adherents | orderBy:ordre:sens ">

        <div class="col-4">
          <div>
            <b>{{adherent.nom}} {{adherent.prenom}}</b><br />
            {{adherent.naissance | date:'yyyy'}}<br />
            {{adherent.email}}<br />
            {{adherent.telephone}}
          </div>
        </div>

        <div class="col-4">
          <b>Adhésion : {{adherent.statut}}</b><br />

          <fa-icon *ngIf="!adherent.flag" class="pointer fa" [icon]="faFlag "></fa-icon>
          <fa-icon *ngIf="adherent.flag" class="pointer orange fa" [icon]="faFlag"></fa-icon>
          <fa-icon *ngIf="adherent.paiement" class="pointer green fa" [icon]="faPiggyBank "></fa-icon>
          <fa-icon *ngIf="!adherent.paiement" class="pointer orange fa" [icon]="faPiggyBank"></fa-icon> <br />
          {{adherent.commentaire}}<br />

        </div>
        <div class="col-4">

          <div *ngFor="let accord of adherent.accords | orderBy:ordre:sens ">
            {{accord.nom}}<fa-icon *ngIf="accord.etat" class="green" [icon]="faCircleCheck"></fa-icon><fa-icon
              *ngIf="!accord.etat" class="orange" [icon]="faCircleXmark"></fa-icon>
          </div>

        </div>
        <div class="col-12" *ngIf="adherent.mineur">
          <b>Référent :</b>{{adherent.nomLegal}} {{adherent.prenomLegal}} {{adherent.telLegal}}
        </div>
      </div>
    </div>

    <table *ngIf="!mobile && activite.open" class="table table-striped">
      <thead>
        <tr>
          <th class="center pointer" scope="col" (click)="ordre='nom'; sens = !sens">Nom</th>
          <th class="center pointer" scope="col" (click)="ordre='email'; sens = !sens">contact</th>
          <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Référent</th>
          <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Secrétriat</th>
          <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Accords</th>
          <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adherent of activite.adherents | orderBy:ordre:sens ">

          <td>
            {{adherent.prenom}} {{adherent.nom}}
            <br />
            {{adherent.naissance | date:'yyyy'}}
          </td>
          <td>
            {{adherent.email}}<br />
            {{adherent.telephone}}
          </td>
          <td>
            {{adherent.prenomLegal}}
            {{adherent.nomLegal}} <br />
            {{adherent.telLegal}}
          </td>
          <td>
            {{adherent.commentaire}}
            <fa-icon *ngIf="!adherent.flag" class="pointer fa-2xl" [icon]="faFlag "></fa-icon>
            <fa-icon *ngIf="adherent.flag" class="pointer orange fa-2xl" [icon]="faFlag"></fa-icon>

            <fa-icon *ngIf="adherent.paiement" class="pointer green fa-2xl" [icon]="faPiggyBank "></fa-icon>
            <fa-icon *ngIf="!adherent.paiement" class="pointer orange fa-2xl" [icon]="faPiggyBank"></fa-icon>
          </td>
          <td>
            <div *ngFor="let accord of adherent.accords | orderBy:ordre:sens ">
              {{accord.nom}}<fa-icon *ngIf="accord.etat" class="green" [icon]="faCircleCheck"></fa-icon><fa-icon
                *ngIf="!accord.etat" class="orange" [icon]="faCircleXmark"></fa-icon>
            </div>
          </td>
          <td>
            {{adherent.statut}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>