@if (isFailed) {
  <div class="card card-container">
    {{errorMessage}}
  </div>
}

<div class="row d-flex justify-content-center">

  @for (activite of activitesLite | orderBy:'nom':false ; track activite) {
    <div class="col-11 center cadrer">
      <div class="row" (click)="activite.open = !activite.open">
        <div class="col-10" id="header">
          <h4>{{activite.nom}} {{activite.horaire}} ({{activite.adherents.length}})</h4>
        </div>
        <div class="col-2" id="icon">
          @if (!activite.open) {
            <fa-icon class="pointer green fa-2xl" [icon]="faSquareCaretLeft"
            container="body"></fa-icon>
          }
          @if (activite.open) {
            <fa-icon class="pointer green fa-2xl" [icon]="faSquareCaretDown"
            container="body"></fa-icon>
          }
        </div>
      </div>
      @if (mobile && activite.open) {
        <div>
          @for (adherent of activite.adherents | orderBy:ordre:sens ; track adherent) {
            <div class="cadrePermanent petite_taille row">
              <div class="col-4">
                <div>
                  <b>{{adherent.nom}} {{adherent.prenom}}</b><br />
                  {{adherent.naissance | date:'yyyy'}}<br />
                  {{adherent.emailRepresentant?adherent.representant.email:adherent.email}}<br />
                  {{adherent.telephoneRepresentant?adherent.representant.telephone:adherent.telephone}}
                </div>
              </div>
              <div class="col-4">
                <b>Adhésion : {{adherent.statut}}</b><br />
                @if (!adherent.flag) {
                  <fa-icon class="pointer fa" [icon]="faFlag "></fa-icon>
                }
                @if (adherent.flag) {
                  <fa-icon class="pointer orange fa" [icon]="faFlag"></fa-icon>
                }
                @if (adherent.paiement) {
                  <fa-icon class="pointer green fa" [icon]="faPiggyBank "></fa-icon>
                }
                @if (!adherent.paiement) {
                  <fa-icon class="pointer orange fa" [icon]="faPiggyBank"></fa-icon>
                  } <br />
                  {{adherent.commentaire}}<br />
                </div>
                <div class="col-4">
                  @for (accord of adherent.accords | orderBy:ordre:sens ; track accord) {
                    <div>
                      {{accord.nom}}@if (accord.etat) {
                      <fa-icon class="green" [icon]="faCircleCheck"></fa-icon>
                      }@if (!accord.etat) {
                      <fa-icon
                      class="orange" [icon]="faCircleXmark"></fa-icon>
                    }
                  </div>
                }
              </div>
              @if (adherent.mineur) {
                <div class="col-12">
                  <b>Référent :</b>{{adherent.representant?adherent.representant.prenom:''}} {{adherent.representant?adherent.representant.nom:''}}
                </div>
              }
            </div>
          }
        </div>
      }
      @if (!mobile && activite.open) {
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="center pointer" scope="col" (click)="ordre='nom'; sens = !sens">Nom</th>
              <th class="center pointer" scope="col" (click)="ordre='email'; sens = !sens">Contact</th>
              <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Référent</th>
              <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Secrétariat</th>
              <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Accords</th>
              <th class="center pointer" scope="col" (click)="ordre='telephone'; sens = !sens">Statut</th>
            </tr>
          </thead>
          <tbody>
            @for (adherent of activite.adherents | orderBy:ordre:sens ; track adherent) {
              <tr>
                <td>
                  {{adherent.prenom}} {{adherent.nom}}
                  <br />
                  {{adherent.naissance | date:'yyyy'}}
                </td>
                <td>
                  {{adherent.emailRepresentant?adherent.representant.email:adherent.email}}<br />
                  {{adherent.telephoneRepresentant?adherent.representant.telephone:adherent.telephone}}
                </td>
                <td>
                  {{adherent.representant?adherent.representant.prenom:''}} {{adherent.representant?adherent.representant.nom:''}}
                </td>
                <td>
                  {{adherent.commentaire}}
                  @if (!adherent.flag) {
                    <fa-icon class="pointer fa-2xl" [icon]="faFlag "></fa-icon>
                  }
                  @if (adherent.flag) {
                    <fa-icon class="pointer orange fa-2xl" [icon]="faFlag"></fa-icon>
                  }
                  @if (adherent.paiement) {
                    <fa-icon class="pointer green fa-2xl" [icon]="faPiggyBank "></fa-icon>
                  }
                  @if (!adherent.paiement) {
                    <fa-icon class="pointer orange fa-2xl" [icon]="faPiggyBank"></fa-icon>
                  }
                </td>
                <td>
                  @for (accord of adherent.accords | orderBy:ordre:sens ; track accord) {
                    <div>
                      {{accord.nom}}@if (accord.etat) {
                      <fa-icon class="green" [icon]="faCircleCheck"></fa-icon>
                      }@if (!accord.etat) {
                      <fa-icon
                      class="orange" [icon]="faCircleXmark"></fa-icon>
                    }
                  </div>
                }
              </td>
              <td>
                {{adherent.statut}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}

</div>