<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>

  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div [innerHTML]="body"></div>
</div>





<div class="modal-footer">
  @if (consultation) {
    <button type="button" class="btn btn-outline-dark"
    (click)="activeModal.dismiss('fermer')">Fermer</button>
  }
  @if (accepter && !consultation) {
    <button type="button" class="btn btn-success"
    (click)="activeModal.close('accepter')">Accepter</button>
  }
  @if (refuser && !consultation) {
    <button type="button" class="btn btn-danger"
    (click)="activeModal.dismiss('refuser')">Refuser</button>
  }

</div>