<a class="shop-cart-link" [class.navigation-link]="navigation" [attr.title]="label" [class.shop-link]="link === 'shop'" [routerLink]="route" [attr.aria-label]="ariaLabel()">
  <fa-icon [icon]="icon" aria-hidden="true"></fa-icon>
  <span class="shop-link-label">{{ label }}</span>
  @if (link !== 'orders' && cart.itemCount() > 0) {
    <span class="shop-cart-badge" aria-label="{{ cart.itemCount() }} article{{ cart.itemCount() > 1 ? 's' : '' }}">{{ cart.itemCount() }}</span>
  }
  @if (hasPendingAction()) {
    <span class="shop-action-alert" aria-hidden="true"><fa-icon [icon]="alertIcon"></fa-icon></span>
  }
</a>
