/* You can add global styles to this file, and also import other style files */
label {
  display: block;
  margin-top: 10px;
}

body {
  font-size: small;
}

.header {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1rem;
}

.title {
  text-decoration: underline;
}

.attribute {
  text-align: left;
}

.center {
  text-align: center;
}

.btn {
  margin-top: 0px !important;
}

.btn-independent {
  margin: 2px;
}

.right{
  text-align: right;
}

table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: 1px solid black;
}

.card {
  background-color: #f7f7f7;
  padding: 5px 5px 5px;

  margin-top: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn-primary {
  border-color: rgba(92, 187, 174, 255);
  background-color: rgba(92, 187, 174, 255);
}
.btn-pomme {
  border-color:  rgba(188, 219, 205, 255);
  background-color:  rgba(188, 219, 205, 255);
}

.btn-orange {
  border-color:  rgba(237, 101, 103, 255);
  background-color:  rgba(237, 101, 103, 255);
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open>.dropdown-toggle.btn-orange {
  color: black;
  border-color:  rgba(237, 101, 103, 255);
  background-color:  rgba(237, 101, 103, 255);
  /*set the color you want here*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: black;
  background-color: rgba(188, 219, 205, 255);
  border-color: rgba(188, 219, 205, 255);
  /*set the color you want here*/
}

.btn-primary:disabled,
.open>.dropdown-toggle.btn-primary {
  color: black;
  background-color: transparent;
  border-color: gray;
  /*set the color you want here*/
}

.orange {
  color: rgba(237, 101, 103, 255)!important;
}

.green {
  color: rgba(92, 187, 174, 255);
}

.jaune {
  color: rgba(253, 218, 77, 255);
}

.pomme {
  color: rgba(188, 219, 205, 255);
}


.white {
  color: rgb(255, 255, 255, 255);
}

.gris {
  color: rgb(161, 161, 161, 255);
}

.alod{
  border-color: rgba(237, 101, 103, 255);
  background-color: rgba(237, 101, 103, 255)!important;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.blanc {
  color: aliceblue!important;
  font-size: large;
  font-weight: bold;
}

tr:hover {
  background-color: rgba(188, 219, 205, 255)!important;
}

.spinner-border{

margin-left: 50vw;
margin-top: 100px;
}

.dropdown-menu { max-height: 300px; overflow-y: auto; min-width: 100% !important; background-attachment: local, local, scroll, scroll; }

.modalFullHeight{
  height: 90vh;
}

.dropdown-item { white-space: nowrap; }


.form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}


.form-check-input {
  background-color: rgb(212, 212, 212);
  margin-top: 0;
  margin-right: 1rem;
}
.form-check-input:checked {
  background-color: rgba(92, 187, 174, 255);
  border-color:green
}



.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.alert-danger{
  color: red;
}