<ng-template #newAdherentModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un nouvel adherent</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && onSubmitAddUser(newUser)" #f="ngForm" novalidate>
    <div class="modal-body">
      Veuillez saisir l'adresse email de référence (qui servira de connexion)

      <div class="form-group">

        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="newUser" />



        Choissez une ou plusieurs activités dans les listes ci-après pour permettre à cet adhérent ou à un membre de sa
        famille de se <b>réinscrire</b> à une activité

        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
            Activités pour {{type}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div ngbDropdownItem (click)="type = 'Majeur'">Majeur</div>
            <div ngbDropdownItem (click)="type = 'Mineur'">Mineur</div>
          </div>
        </div>

        <label for="email"><u>Liste des activités</u></label>
        <div *ngIf="activitesListe.length > 0">
          <div *ngFor="let activite of activitesListe | orderBy:'nom':false" class="ligne pointer"
            (click)="activite.selected = !activite.selected">
            <b>{{activite.nom}}</b>
            <fa-icon *ngIf="activite.selected" class="green fa-xl" [icon]="faCircleCheck"></fa-icon>
          </div>
        </div>


      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Ajouter ce nouvel adherent</button>
    </div>
  </form>

</ng-template>

<div class="row">

  <div class="col-md-6 center">
    <div class="btn-group btn-group-sm col-4" role="group">
      <button class="btn btn-sm btn-primary" (click)="openModalAddUser(newAdherentModal)">Nouvel
        adherent</button>
    </div>

  </div>
  <div class="col-6 center">




  </div>
</div>

<div class="row">

  <div class="col-12 center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="center col-1" scope="col">Edit</th>
          <th class="center col-2" scope="col">
            Adhérent
          </th>

          <th class="center col-1" scope="col">Telephone</th>
          <th class="center col-2" scope="col">Adresse</th>
          <th class="center col-1" scope="col">Naissance / Lieu</th>
          <th class="center col-1" scope="col">Accords</th>
          <th class="center col-2" scope="col">Activitées</th>
          <th class="center col-2" scope="col">Activitées Nm1</th>
        </tr>
      </thead>
      <div *ngIf="loadder" class="spinner-border text-info"></div>
      <tbody *ngIf="!loadder">
        <tr *ngFor="let adherent of adherents ">
          <td class="center">
            <fa-icon class="fa-2xl pointer" (click)="opennewTab('#/inscription/'+adherent.tribuId)" [icon]="faUsersRays"></fa-icon>
          </td>
          <td>
            {{adherent.nom}} {{adherent.prenom}}<br />
            {{adherent.email}}
          </td>
          <td>
            {{adherent.telephone}}
          </td>
          <td>
            {{adherent.adresse}}
          </td>
          <td>
            {{adherent.naissance}}<br />
            {{adherent.lieuNaissance}}
          </td>
          <td>
 {{adherent.accords}}
          </td>

          <td>


            {{adherent.adhesions}}
          </td>
          <td>

              {{adherent.activitesNm1}}




          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
