.cadrePermanent{
  margin-bottom: 10px;
padding: 10px;
  background-color: white;
  border-color: black;
border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  

  justify-content: center;
  align-items: center;
}

.cadrePermanent:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#icon {

  display: flex;
  justify-content: flex-end;
  padding-right: 20px !important;
}


.bouton-sticky {
  position: fixed !important;

  top: 5% !important;
  right: 1% !important;
  z-index: 9999 !important;
}

.bouton-sticky-2 {
  position: fixed !important;

  top: 7% !important;
  right: 1% !important;
  z-index: 9999 !important;

}

.taillepetite{
  width: 5%;
}

.griser:hover{
  margin-left :0px;
  padding-left :0px;
  margin-right :0px;
  padding-right :0px;
  border-style: solid !important;
  border: 1px;
  border-radius: 5px;
  border-color: black;
}
.cadre:hover {
  margin-top: 0px;
  border-style: solid !important;
  border: 1px;
  border-radius: 5px;
  border-color: black;
}


.border-bottom{

  border-bottom: 1px;
  border-bottom-style: solid!important;
  border-bottom-color :black !important;

}
.bouton-sticky-3 {
  position: fixed !important;

  top: 9% !important;
  right: 1% !important;
  z-index: 9999 !important;
}


.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  min-width: 300px !important;
  background-attachment: local, local, scroll, scroll;
}

.dropdown-item {
  white-space: normal;
}

.pdf-viewer {
  height: 100vh;
  width: 80vw;
  display: block;
  margin: 0 auto;
}


.big-icon{
  display:inline-block;
  height: 40px!important;
}

.high-row{
  height: 35px;
}

.left{
  margin-left: 10px;
}

.fullSize{
  padding: 0px;
  margin: 5px;
}

.big-checkbox {width: 50px; height: 30px;}