<div class="container">
  <div class="row">
    @if (maintenance) {
      <div class="col-12">
        <div class="card card-container">
          @if (textMaintenance.length > 1) {
            <div [innerHTML]="textMaintenance"></div>
          } @else {
            <div>
              <strong>Site en maintenance</strong><br>
              Veuillez nous excuser pour la gêne occasionnée
            </div>
          }
        </div>
      </div>
    }

    <div class="col-12">
      <div class="card login-card">
        <div class="card-body">


          <div class="row login-layout-row">

            <div class="col-md-6 login-layout-column login-layout-info">

              @if (messageConnexion) {
                <div [innerHTML]="messageConnexion"></div>
              }


            </div>

            <div class="col-md-6 login-layout-column login-layout-form">





            <div class="login-carousel-panel login-carousel-connexion">
            @if (!oublieMDP) {
              <h1 class="center">Page de connexion</h1>
              @if (sessionExpiree) {
                <div class="alert alert-warning" role="alert">
                  Votre session a expiré. Reconnectez-vous pour poursuivre vos modifications.
                </div>
              }
              @if (!isLoggedIn) {
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                      #username="ngModel" (blur)="verifMailExist()" />
                    @if (username.errors && f.submitted) {
                      <div class="alert alert-danger" role="alert">Email obligatoire</div>
                    }
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                      minlength="6" #password="ngModel" />
                    @if (password.errors && f.submitted) {
                      <div class="alert alert-danger" role="alert">
                        @if (password.errors.required) {
                          <div>Le mot de passe est obligatoire</div>
                        }
                        @if (password.errors.minlength) {
                          <div>Le mot de passe doit au moins avoir 6 lettres</div>
                        }
                      </div>
                    }
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block">Connexion</button>
                    <button type="button" (click)="oublieMDP = true" class="btn btn-outline-primary btn-block">
                      Récupération de mot de passe
                    </button>
                  </div>
                </form>

              }
              @if (isLoggedIn) {
                <div class="alert alert-success">
                  Votre connexion a réussie ! Vous allez être redirigé sur la page de vos adhésions.
                </div>
              }
            } @else if (!isLoggedIn) {
              <h1 class="center">Récupération de mot de passe</h1>
              <form name="form" (ngSubmit)="f.form.valid && forgotMdp()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="username">Email de récupération de mot de passe :</label>
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    #username="ngModel" />
                  @if (username.errors && f.submitted) {
                    <div class="alert alert-danger" role="alert">L'e-mail est obligatoire</div>
                  }
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" [disabled]="reinitMDPDone">Envoyer la demande</button>
                </div>
                @if (f.submitted && isresetFailed) {
                  <div class="alert alert-danger" role="alert">Une erreur s'est produite : {{ errorMessage }}</div>
                }
              </form>
              @if (reinitMDPDone) {
                <div class="alert alert-success">
                  Votre demande a bien été prise en compte ! Vous avez reçu un lien de réactivation par e-mail.
                </div>
              }
            }
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-calendrier></app-calendrier>
</div>
