spring:
  main:
    allow-circular-references: true
  h2.console.enabled: true
  # default path: h2-console
  h2.console.path: /h2-ui
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    show_sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update
      show_sql: false
      format_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

#logging.level.org.springframework.web: DEBUG
logging.level.com.wild.corp: INFO
logging.level.org.hibernate: ERROR

server:
  name : ${DNS_NAME}
  app:
    jwtSecret: ${JWT_SECRET}
    jwtExpirationMs: 86400000

image-storage-dir: C:\Users\PC\Documents\ProjetsDev\Adhesion