#header {
  font-weight: bold;
}

.cadrePermanent:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px !important;
}

.row{
  padding: 10px;
}

.bouton-sticky {
  position: fixed !important;
  top: 5% !important;
  right: 1% !important;
  z-index: 9999 !important;
}

.bouton-sticky-2 {
  position: fixed !important;
  top: 7% !important;
  right: 1% !important;
  z-index: 9999 !important;
}

.taillepetite{
  width: 5%;
}



.cadre:hover {
  margin-top: 0px;
  border-style: solid !important;
  border: 1px;
  border-radius: 5px;
  border-color: black;
}

.cadrePermanent{
  margin-bottom: 10px;
  border-style: solid !important;
  border: 1px;
  border-radius: 20px;
  background-color: white;
  border-color: black;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.border-bottom{
  border-bottom: 1px;
  border-bottom-style: solid!important;
  border-bottom-color :black !important;
}

.bouton-sticky-3 {
  position: fixed !important;
  top: 9% !important;
  right: 1% !important;
  z-index: 9999 !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  min-width: 300px !important;
  background-attachment: local, local, scroll, scroll;
}

.dropdown-item {
  white-space: normal;
}

.big-icon{
  display:inline-block;
  height: 40px!important;
}

.modal-fullsize{
  height: 90vh;
}

.ligne:hover{
  background-color: rgba(188, 219, 205, 255)!important;
}

.left{
  margin-left: 10px;
}

.corner{
  margin-left: 5px;
}

.fa-fw{
  display:inline-block }