.container {
    width: 100%;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      width: 100%;
    }

    .content {
      width: 100%;

      .display {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .badges {
          img {
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;



    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;

      pre {
        white-space: pre !important;
      }
    }
  }

  .larger {
    width:100%;
  }
  button {
    margin:10px 0 10px 0 !important;
  }
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.indentation{
  margin-left: 10px;
}
