<div *ngIf="isFailed" class="card card-container">
  {{errorMessage}}
</div>


<div class="row">

  <div class="col-md-8 center">
    <div class="btn-group btn-group-sm col-6" role="group">
      <button class="btn btn-sm btn-primary" (click)="exportAsXLSX()">Extraction des adhésions</button>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>

      <th class="center" scope="col truncate">
        <fa-icon *ngIf="filtres.get('activite.groupe')!='ALOD_B'" (click)="addFiltre('activite.groupe','ALOD_B')"
          class="fa-2xl" [icon]="faBasketball" container="body"></fa-icon>

        <fa-icon *ngIf="filtres.get('activite.groupe')=='ALOD_B'" (click)="removeFiltre('activite.groupe')"
          class="orange fa-2xl" [icon]="faBasketball" container="body"></fa-icon>

        <fa-icon *ngIf="filtres.get('activite.groupe')!='ALOD_G'" (click)="addFiltre('activite.groupe','ALOD_G')"
          class="fa-2xl" [icon]="faSeedling" container="body"></fa-icon>

        <fa-icon *ngIf="filtres.get('activite.groupe')=='ALOD_G'" (click)="removeFiltre('activite.groupe')"
          class="orange fa-2xl" [icon]="faSeedling" container="body"></fa-icon>



        <div *ngIf="!filtres.has('activite.nom') && !filtres.has('activite.horaire')" ngbDropdown>
          <div id="dropdownBasic1" ngbDropdownToggle>
            Activité <fa-icon [icon]="faFilter" container="body"></fa-icon>
          </div>

          <div *ngIf="activites.length > 0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let activite of activites  | orderBy:'nom':false" class="ligne pointer">
              <b (click)="addFiltre('activite.nom',activite.nom)">{{activite.nom}}</b>
              <div *ngFor="let horaire of activite.horaires">
                <a ngbDropdownItem (click)="addFiltre('activite.horaire',horaire.nom)">
                  {{horaire.nom}}</a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="filtres.has('activite.nom') || filtres.has('activite.horaire')"
          (click)="removeFiltre('activite.nom'); removeFiltre('activite.horaire')">
          Activité <fa-icon [icon]="faFilterCircleXmark" container="body"></fa-icon>
        </div>


      </th>
      <th class="center" scope="col">

        <input class="form-control xs" type="text" name="search" [(ngModel)]="search"
          (ngModelChange)="addSearch(search)" placeholder="Adhérent" />

      </th>
      <th class="center" scope="col">

        <div *ngIf="!filtres.has('validPaiementSecretariat') " ngbDropdown id="icon">
          <div id="dropdownBasic1" ngbDropdownToggle>
            Paiement <fa-icon [icon]="faFilter" container="body"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="float:right;">
            <button ngbDropdownItem (click)="addFiltre('validPaiementSecretariat', true)">Effectué</button>
            <button ngbDropdownItem (click)="addFiltre('validPaiementSecretariat', false)">Manquant</button>
          </div>
        </div>

        <div *ngIf="filtres.has('validPaiementSecretariat')" (click)="removeFiltre('validPaiementSecretariat')">
          Paiement <fa-icon [icon]="faFilterCircleXmark" container="body"></fa-icon>
        </div>
      </th>



      <th class="center" scope="col">


        <div *ngIf="!filtres.has('validDocumentSecretariat') " ngbDropdown id="icon">
          <div id="dropdownBasic1" ngbDropdownToggle>
            Accord <fa-icon [icon]="faFilter" container="body"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="float:right;">
            <button ngbDropdownItem (click)="addFiltre('validDocumentSecretariat', true)">Docs Validés</button>
            <button ngbDropdownItem (click)="addFiltre('validDocumentSecretariat', false)">Docs Manquants</button>
          </div>
        </div>
      </th>

      <th class="center" scope="col">

        <div *ngIf="!filtres.has('statutActuel') " ngbDropdown id="icon">
          <div id="dropdownBasic1" ngbDropdownToggle>
            Statut <fa-icon [icon]="faFilter" container="body"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="float:right;">

            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Attente validation
              adhérent')">Attente validation
              adhérent</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Attente validation secrétariat')">Attente
              validation secrétariat</button>
            <button ngbDropdownItem
              (click)="addFiltre('statutActuel', 'Validée, en attente du certificat médical')">Validée, en attente du
              certificat
              médical</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Validée')">Validée</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Attente licence en ligne')">Attente
              licence en ligne</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Validée groupement sportif')">Validée groupement
              sportif</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Licence générée')">Licence générée</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Retour Comité')">Retour Comité</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Licence T')">Licence T</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Sur liste d\'attente')">Sur liste
              d'attente</button>
            <button ngbDropdownItem (click)="addFiltre('statutActuel', 'Annulée')">Annulée</button>


          </div>
        </div>

        <div *ngIf="filtres.has('statutActuel')" (click)="removeFiltre('statutActuel')">
          Statut <fa-icon [icon]="faFilterCircleXmark" container="body"></fa-icon>
        </div>


      </th>

      <th class="center" scope="col">Remarque</th>

      <th class="center" scope="col">


        <div *ngIf="!filtres.has('flag') " ngbDropdown id="icon">
          <div id="dropdownBasic1" ngbDropdownToggle>
            Flag <fa-icon [icon]="faFilter" container="body"></fa-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="float:right;">
            <button ngbDropdownItem (click)="addFiltre('flag', true)">Les flagés</button>
            <button ngbDropdownItem (click)="addFiltre('flag', false)">Les non flagé</button>
          </div>
        </div>

        <div *ngIf="filtres.has('flag')" (click)="removeFiltre('flag')">
          Flag <fa-icon [icon]="faFilterCircleXmark" container="body"></fa-icon>
        </div>

      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adhesion of adhesions  | orderBy:'id':true ">
      <td class="truncate">
        <ng-template #tipsAdhesionDelete><b>icons</b><br />
          <fa-icon [icon]="faSquareMinus"></fa-icon> supprime l'adhésion quel que soit son statut
        </ng-template>
        <fa-icon *ngIf="showAdmin || showSecretaire" class="pointer fa-2xl" (click)="openModal(confirmModal, adhesion)"
          [ngbTooltip]="tipsAdhesionDelete" [icon]="faSquareMinus"></fa-icon>
        {{adhesion.activite.nom}}<br />{{adhesion.activite.horaire}}




        <div *ngIf="showAdmin || showSecretaire" ngbDropdown>
          <div id="dropdownBasic1" ngbDropdownToggle>
            <fa-icon [icon]="faSquarePlus" container="body"></fa-icon>
          </div>

          <div *ngIf="activites.length > 0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let activite of activites  | orderBy:'nom':false" class="ligne pointer">
              <b>{{activite.nom}}</b>
              <div *ngFor="let horaire of activite.horaires">
                <a ngbDropdownItem (click)="changeActivite(adhesion, horaire.id)">
                  {{horaire.nom}}</a>
              </div>
            </div>
          </div>
        </div>


      </td>

      <td>
        {{adhesion.adherent.nom}} {{adhesion.adherent.prenom}} <br />
        {{adhesion.adherent.email}}
        <ng-template #tipsAdherentSendMail><b>icons</b><br />
          <fa-icon class="fa-lg green" [icon]="faEnvelope"></fa-icon> permet d'envoyer un mail pour cet adhérent
        </ng-template>
        <fa-icon *ngIf="adhesion.adherent.email != null" [routerLink]="['/mail', adhesion.adherent.id]"
          class="fa-lg pointer green" [icon]="faEnvelope" [ngbTooltip]="tipsAdherentSendMail"></fa-icon>
        <fa-icon class="fa-lg pointer" target="_blank" [routerLink]="['/inscription', adhesion.adherent.email]"
          [icon]="faPen"></fa-icon>
      </td>




      <td class="center">
        <div class="row">
          <div class="col-8">
            <div *ngFor="let paiement of adhesion.paiements | orderBy:'id':false">
              {{paiement.montant}} € en {{paiement.typeReglement}} le {{paiement.dateReglement | date: 'dd/MM/YYYY'}}
            </div>
          </div>
          <div class="col-4">
            <fa-icon (click)="updatePaiementSecretariat(adhesion, true); openModal(editProfileModal, adhesion);"
              [ngClass]="adhesion.validPaiementSecretariat ? 'pointer green fa-2xl' : 'pointer fa-2xl'"
              [icon]="faCircleCheck"></fa-icon>
            <fa-icon (click)="updatePaiementSecretariat(adhesion, false); openModal(editProfileModal, adhesion);"
              [ngClass]="!adhesion.validPaiementSecretariat ? 'pointer orange fa-2xl' : 'pointer fa-2xl'"
              [icon]="faCircleXmark"></fa-icon>
            <br />Total de {{ calculSomme(adhesion) }}€
          </div>
        </div>

      </td>

      <td>

        <div class="row">
          <div class="col-8">


            <div *ngFor="let accord of adhesion.accords | orderBy:'id':false ">
              {{accord.nom}}
              <fa-icon *ngIf="accord.etat == true" class="green" [icon]="faCircleCheck"></fa-icon>
              <fa-icon *ngIf="accord.etat != true" class="orange" [icon]="faCircleXmark"></fa-icon>
              <fa-icon *ngIf="showAdmin || showSecretaire" (click)="retraitAccord(adhesion,accord.nom)"
                [icon]="faSquareMinus"></fa-icon>

            </div>


            <div *ngIf="showAdmin || showSecretaire" ngbDropdown id="icon">
              <div id="dropdownBasic1" ngbDropdownToggle>
                <fa-icon [icon]="faSquarePlus" container="body"></fa-icon>
              </div>

              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="float:right;">
                <button ngbDropdownItem (click)="ajoutAccord(adhesion,'Reglement Interieur')">Reglement
                  Interieur</button>
                <button ngbDropdownItem (click)="ajoutAccord(adhesion,'Attestation Sante')">Attestation Sante</button>
                <button ngbDropdownItem (click)="ajoutAccord(adhesion,'Vie du Club')">Vie du Club</button>
                <button ngbDropdownItem (click)="ajoutAccord(adhesion,'Autorisation Parentale')">Autorisation
                  Parentale</button>
                <button ngbDropdownItem (click)="ajoutAccord(adhesion,'Prise en Charge')">Prise en Charge</button>
              </div>
            </div>

          </div>
          <div class="col-4">

            <fa-icon (click)="adhesion.validDocumentSecretariat = true; updateDocumentsSecretariat(adhesion, true)"
              [ngClass]="adhesion.validDocumentSecretariat ? 'pointer green fa-2xl' : 'pointer fa-2xl'"
              [icon]="faCircleCheck"></fa-icon>
            <fa-icon (click)="adhesion.validDocumentSecretariat = false; updateDocumentsSecretariat(adhesion, false)"
              [ngClass]="!adhesion.validDocumentSecretariat ? 'pointer orange fa-2xl' : 'pointer fa-2xl'"
              [icon]="faCircleXmark"></fa-icon>

          </div>
        </div>


      </td>
      <td class="center">
        <div *ngIf="adhesion.activite.groupe == 'ALOD_G'" ngbDropdown class="d-inline-block">
          <button [disabled]="adhesion.statutActuel == 'Validée' " type="button" class="btn btn-primary"
            id="dropdownBasic1" ngbDropdownToggle>
            {{adhesion.statutActuel}}
          </button>


          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Attente validation adhérent')">Attente validation
              adhérent</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Attente validation secrétariat')">Attente
              validation secrétariat</button>
            <button ngbDropdownItem
              (click)="choisirStatut(adhesion,'Validée, en attente du certificat médical')">Validée, en attente du
              certificat
              médical</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Sur liste d\'attente')">Sur liste
              d'attente</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Validée')">Validée</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Annulée')">Annulée</button>
          </div>
        </div>


        <div *ngIf="adhesion.activite.groupe == 'ALOD_B'" ngbDropdown class="d-inline-block">
          <button [disabled]="adhesion.statutActuel == 'Validée' " type="button" class="btn btn-primary"
            id="dropdownBasic1" ngbDropdownToggle>
            {{adhesion.statutActuel}}
          </button>


          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Attente validation adhérent')">Attente validation
              adhérent</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Attente validation secrétariat')">Attente
              validation secrétariat</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Attente licence en ligne')">Attente
              licence en ligne</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Validée groupement sportif')">Validée groupement
              sportif</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Licence générée')">Licence générée</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Retour Comité')">Retour Comité</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Licence T')">Licence T</button>
            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Sur liste d\'attente')">Sur liste
              d'attente</button>

            <button ngbDropdownItem (click)="choisirStatut(adhesion,'Annulée')">Annulée</button>
          </div>
        </div>





      </td>
      <td>
        <textarea [(ngModel)]="adhesion.remarqueSecretariat" id="story" name="story" rows="1" cols="10"
          placeholder="Note..." (blur)='enregistrerRemarque(adhesion)'>

          </textarea>

      </td>

      <td class="center" (click)="updateFlag(adhesion, !adhesion.flag)">
        <fa-icon *ngIf="!adhesion.flag" class="pointer fa-2xl" [icon]="faFlag "></fa-icon>
        <fa-icon *ngIf="adhesion.flag" class="pointer orange fa-2xl" [icon]="faFlag"></fa-icon>



      </td>


    </tr>
  </tbody>
</table>


<ng-template #editPDFModal let-c="close" let-d="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{pdfName}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissDoc()"></button>
  </div>
  <div class="modal-body modalFullHeight">

    <pdf-viewer [src]="pdfEditSrc" [render-text]="true" [original-size]="false"></pdf-viewer>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="dismissDoc()">Fermer</button>
  </div>

</ng-template>







<ng-template #editProfileModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Facturation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss(selectedAdhesion)"></button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


      <div class="row">
        <div class="col-12">
          Règlement de {{selectedAdhesion.activite?selectedAdhesion.activite.nom:''}}
          {{selectedAdhesion.activite?selectedAdhesion.activite.horaire:''}} pour
          {{selectedAdhesion.adherent?selectedAdhesion.adherent.prenom:''}}
          {{selectedAdhesion.adherent?selectedAdhesion.adherent.nom:''}}
        </div>
        <div *ngIf="selectedAdhesion.paiements.length > 0">

          <table class="table table-striped">
            <thead>
              <tr>
                <th class="center" scope="col truncate">Montant</th>
                <th class="center" scope="col truncate">Date</th>
                <th class="center" scope="col truncate">Type</th>
                <th class="center" scope="col truncate"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paiement of selectedAdhesion.paiements | orderBy:'id':false ">

                <td class="truncate">

                  <div class="form-group">
                    <input type="number" class="form-control" name="{{'montant'+paiement.id}}"
                      [(ngModel)]="paiement.montant" (blur)="updatePaiement(selectedAdhesion,paiement)"
                      #montant="ngModel" />
                  </div>
                </td>
                <td class="truncate">
                  <div class="form-group">
                    <input type="date" class="form-control" name="{{'dateReglement'+paiement.id}}"
                      [ngModel]="paiement.dateReglement" (ngModelChange)="paiement.dateReglement = $event"
                      #dateReglement="ngModel" required (blur)="updatePaiement(selectedAdhesion,paiement)" />
                    <div class="alert-danger" *ngIf="dateReglement.errors && f.submitted">
                      <div *ngIf="dateReglement.errors.required">Date de reglement obligatoire</div>
                    </div>
                  </div>
                </td>
                <td class="truncate">
                  <div ngbDropdown class="d-inline-block">
                    <div type="button"
                      [ngClass]="paiement.typeReglement.length>0 ? 'btn-outline-secondary' : 'btn-primary'" class="btn"
                      id="dropdownBasic1" ngbDropdownToggle>
                      {{paiement.typeReglement.length>0?paiement.typeReglement:"Aucun"}}
                    </div>

                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement ='HelloAsso'; updatePaiement(selectedAdhesion,paiement)">
                        HelloAsso</div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement='HelloAsso 3X'; updatePaiement(selectedAdhesion,paiement)">
                        HelloAsso 3X</div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement='Chèque'; updatePaiement(selectedAdhesion,paiement)">Chèque
                      </div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement = 'Chèque 3X'; updatePaiement(selectedAdhesion,paiement)">Chèque
                        3X</div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement ='Pass sport'; updatePaiement(selectedAdhesion,paiement)">Pass
                        sport</div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement = 'Espèces'; updatePaiement(selectedAdhesion,paiement)">Espèces
                      </div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement = 'CB'; updatePaiement(selectedAdhesion,paiement)">CB</div>
                      <div ngbDropdownItem
                        (click)="paiement.typeReglement = 'Autre'; updatePaiement(selectedAdhesion,paiement)">Autre
                        paiement</div>
                    </div>

                  </div>
                </td>
                <td class="truncate">
                  <fa-icon class="fa-2xl" *ngIf="showAdmin || showSecretaire"
                    (click)="retraitPaiement(selectedAdhesion,paiement.id)" [icon]="faSquareMinus"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div type="button" (click)="addNewPaiement(selectedAdhesion)" class="btn btn-primary">Ajouter un paiement</div>
      </div>
      <div class="modal-footer">

      </div>

    </form>
  </div>
</ng-template>






<ng-template #confirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissSupress()"></button>
  </div>
  <div class="modal-body">
    Vous êtes sur le point de supprimer l'adhesion de {{selectedAdhesion.adherent?.prenom}} au
    {{selectedAdhesion.activite?.nom}} {{selectedAdhesion.activite?.horaire}}

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="acceptSupress(selectedAdhesion)">Valider</button>
  </div>
</ng-template>