<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="https://alod.fr" class="navbar-left"> <img class="container" src="assets/logo.png" alt="logo"></a>

    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarToggler">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link blanc" routerLink="admin">Administration</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showSecretaireBoard">
          <a href="/activites" class="nav-link blanc" routerLink="activites">Activites</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showSecretaireBoard">
          <a href="/adherents" class="nav-link blanc" routerLink="adherents">Adhérents</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showSecretaireBoard">
          <a href="/adhesions" class="nav-link blanc" routerLink="adhesions">Adhésions</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showSecretaireBoard">
          <a href="/mail" class="nav-link blanc" *ngIf="isLoggedIn" [routerLink]="['/mail', '']">Mailling</a>
        </li>
        <li class="nav-item">
          <a href="/inscription" class="nav-link blanc" *ngIf="isLoggedIn" routerLink="inscription">{{showSecretaireBoard?"Inscriptions Manuelles":"Adhésions"}}</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item" *ngIf="inscriptionOpen">
          <a href="/register" class="nav-link blanc" routerLink="register">Inscription</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link blanc" routerLink="login">Connexion</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

        <li class="nav-item">
          <a href class="nav-link blanc" (click)="logout()">Deconnexion</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-xxxl">
    <router-outlet></router-outlet>
  </div>
</div>