<div class="container">

  <div class="row">
    


    <div class="col-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="center" scope="col">Nom</th>
            <th class="center" scope="col">Initiées</th>
            <th class="center" scope="col">Payées</th>
            <th class="center" scope="col">Validées</th>
            <th class="center" scope="col">Féminin</th>
            <th class="center" scope="col">Masculin</th>
            <th class="center" scope="col">Répartition</th>
            <th class="center" scope="col">cotisations</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activite of dataGeneral  | orderBy:'nomActivite':false ">
            <td>{{activite.nomActivite}}</td>
            <td>{{activite.nbInitee}}</td>
            <td>{{activite.nbPayee}}</td>
            <td>{{activite.nbValidee}}</td>
            <td>{{activite.nbF}} / {{(activite.nbF/activite.nbValidee)*100 | number : '1.0-0'}}%</td>
            <td>{{activite.nbM}} / {{(activite.nbM/activite.nbValidee)*100 | number : '1.0-0'}}%</td>
            <td>{{(activite.nbValidee / totalValideeG)*100 | number : '1.0-0'}}%</td>
            <td>{{activite.cotisations}}€</td>


          </tr>
          <tr>
            <td><b>Totaux</b></td>
            <td><b>{{totalIniteeG}}</b></td>
            <td><b>{{totalPayeeG}}</b></td>
            <td><b>{{totalValideeG}}</b></td>
            <td><b>{{totalFG}} / {{(totalFG/totalValideeG)*100 | number : '1.0-0'}}%</b></td>
            <td><b>{{totalMG}} / {{(totalMG/totalValideeG)*100 | number : '1.0-0'}}%</b></td>

            <td></td>
            <td><b>{{totalCotisG}}€</b></td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="center" scope="col">Nom</th>
            <th class="center" scope="col">Initiées</th>
            <th class="center" scope="col">Payées</th>
            <th class="center" scope="col">Validées</th>
            <th class="center" scope="col">Féminin</th>
            <th class="center" scope="col">Masculin</th>
            <th class="center" scope="col">Répartition</th>
            <th class="center" scope="col">Cotisations</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activite of dataBasket">
            <td>{{activite.nomActivite}}</td>
            <td>{{activite.nbInitee}}</td>
            <td>{{activite.nbPayee}}</td>
            <td>{{activite.nbValidee}}</td>
            <td>{{activite.nbF}} / {{(activite.nbF/activite.nbValidee)*100 | number : '1.0-0'}}%</td>
            <td>{{activite.nbM}} / {{(activite.nbM/activite.nbValidee)*100 | number : '1.0-0'}}%</td>
            <td>{{(activite.nbValidee / totalValideeB)*100 | number : '1.0-0'}}%</td>
            <td>{{activite.cotisations}}€</td>


          </tr>
          <tr>
            <td><b>Totaux</b></td>
            <td><b>{{totalIniteeB}}</b></td>
            <td><b>{{totalPayeeB}}</b></td>
            <td><b>{{totalValideeB}}</b></td>
            <td><b>{{totalFB}} / {{(totalFB/totalValideeB)*100 | number : '1.0-0'}}%</b></td>
            <td><b>{{totalMB}} / {{(totalMB/totalValideeB)*100 | number : '1.0-0'}}%</b></td>

            <td></td>
            <td><b>{{totalCotisB}}€</b></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <canvas id="canvas">{{chart}}</canvas>
  </div>

</div>