<div class="container">
  <div class="col-md-12">
    <div class="card card-container">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          @if (password.errors && f.submitted) {
            <div class="alert-danger">
              @if (password.errors.required) {
                <div>Le mot de passe est obigatoire</div>
              }
              @if (password.errors.minlength) {
                <div>
                  Le mot de passe doit avoir au moins 6 caractères
                </div>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" [disabled]="isSuccess">
            Enregistrer ce nouveau mot de passe
          </button>
        </div>
        <div class="form-group">
          @if (f.submitted && isFailed) {
            <div class="alert alert-danger" role="alert">
              La demande a échouée: {{ errorMessage }}
            </div>
          }
          @if (tokenFailed) {
            <div class="alert alert-danger" role="alert">
              Ce lien n'est plus utilisable veuillez renouveler votre demande
            </div>
          }
        </div>

      </form>

      @if (isSuccess) {
        <div class="alert alert-success">
          {{serverAnswer}}
        </div>
      }
    </div>
  </div>
</div>