<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-container">
        <h1 class="center">Page de contact</h1>

      </div>
    </div>


    <div *ngIf="message" class="col-md-6">
      <div class="card card-container right">
        <div [innerHTML]="message"></div>
      </div>
    </div>




    <div class="col-md-6">
      <div class="card card-container">

        <div class="row">
          <div class="col-sm-12 ">

            <div class="form-group" *ngIf="isFailed">
              <div class="alert alert-danger" role="alert">
                Il y a un problème lors de l'envoie du message: {{ errorMessage }}
              </div>
            </div>


            <div class="form-group" *ngIf="mailIncomplet">
              <div class="alert alert-danger" role="alert">
                Le mail n'est pas complet l'objet doit avoir au moins 5 lettres et le corps du message au moins 20
                lettres
              </div>
            </div>

            <div class="form-group" *ngIf="inProgress">
              <div class="alert alert-danger" role="alert">
                Envoi de mail en cours, veuillez patienter
              </div>
            </div>

          </div>

          <div class="col-sm-12 ">
            <div class="input-group mb-3 input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">Objet : </span>
              </div>
              <input type="text" [(ngModel)]="subject" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 ">

            <div class="NgxEditor__Wrapper mb-3">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
              <ngx-editor [editor]="editor" [(ngModel)]="html" 
                [placeholder]="'Votre message ici...'"></ngx-editor>
            </div>
          </div>
          <div class="col-sm-12 ">
            <button [disabled]="inProgress" class="btn btn-block btn-primary" (click)="envoiMail(subject)">
              Envoyer ce message</button>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card card-container center">
        <h5>Concepteurs et administrateurs de l'application :</h5><br>
        brice_morel&#64;hotmail.com<br>
        laurent.boureau.nantes&#64;gmail.com
      </div>
    </div>
  </div>
</div>