
.lignegrisee{
  background-color: rgb(224, 224, 224)!important;
  }

.lignebleue{
  background-color: rgb(103, 182, 255)!important;
}

.lignerouge{
  background-color: rgb(255, 123, 123)!important;
}
  
  .ligne:hover{
    background-color: rgba(188, 219, 205, 255)!important;
  }

  
.indentation{
    margin-left: 5px;
  }