<div class="modal-header">
  <h4 class="modal-title">Choix de l'activité</h4>

  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  @if (activites.length > 0) {
    <div>
      @for (activite of activites | orderBy:'nom':false; track activite) {
        <div>
          <b>{{activite.nom}}</b>
          @for (horaire of activite.horaires; track horaire) {
            <div>
              @if (!horaire.reinscription && !horaire.complete && !horaire.dejaInscrit) {
                <div class="indentation ligne pointer"
                  (click)="activeModal.close(horaire.id)">
                  {{horaire.nom}}
                </div>
              }
              @if ( !horaire.complete && horaire.dejaInscrit) {
                <div  (click)="admin ||secretaire ?activeModal.close(horaire.id):false" class="indentation lignebleue pointer">
                  {{horaire.nom}} - Déjà Inscrit
                </div>
              }
              @if ( horaire.complete && !horaire.dejaInscrit) {
                <div  (click)="admin ||secretaire ?activeModal.close(horaire.id):false" class="indentation lignerouge pointer">
                  {{horaire.nom}} - Complet
                </div>
              }
              @if (horaire.reinscription && !horaire.complete && !horaire.dejaInscrit) {
                <div  (click)="admin ||secretaire ?activeModal.close(horaire.id):false" class="indentation lignegrisee pointer">
                  {{horaire.nom}} -
                  @if (activite.nom == 'Basket') {
                    <a href="https://alod.fr/protocle-basket/" target="_blank">Procédure de réinscription</a>
                  }
                  @if (activite.nom != 'Basket') {
                    <div >Uniquement sur réinscription, veuillez attendre le 1 juin </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
  (click)="activeModal.dismiss('Annuler')">Annuler</button>


</div>